{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="{% static 'style/main.css' %}" rel="stylesheet" />
  </head>
  <body>
    <section>
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Ingrese lo que va a buscar"
      />
      <button type="submit" id="captureData">search</button>
    </section>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
